.home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 70px;
    margin: 0 auto;
}

.home-text {
    text-align: start;
    margin: 12rem;
}

.home-text h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.home-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.home-img img {
    width: 650px;
    border-radius: 1.5rem;
}

.home-btn {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 500;
}

.home-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

@media screen and (max-width: 790px) {
    .home {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 0;
        margin: 0 auto;
    }

    .home-img img {
        margin-top: 3.5rem;
        width: 350px;
        border-radius: 1.5rem;
    }

    .home-text {
        text-align: center;
        margin: 0 auto;
    }

    .home-text h1 {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .home-text p {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    .reverse {
        order: 1;
    }
}

@media screen and (min-width: 776px) {
    .home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 20px;
        margin: 7rem auto;
    }

    .home-text {
        text-align: center;
        margin: 5rem auto;
    }

    .home-text h1 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    .home-text p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .home-img img {
        margin-top: 1.5rem;
        width: 500px;
        border-radius: 1.5rem;
    }
}

@media screen and (min-width: 992px) {}

/* Media Query*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */
    .home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 70px;
        margin: 0 auto;
    }

    .home-text {
        text-align: start;
        margin: 10rem;
    }

    .home-text h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .home-text p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .home-img img {
        margin-top: 3rem;
        width: 650px;
        border-radius: 1.5rem;
    }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 0px) and (max-width: 480px) {

    .home-img img {
        width: 250px;
    }

}